
main{
  background-color: rgb(232, 241, 244);
  .row{
    display: flex;
    justify-content: space-between;
    &.product-list{
      flex-wrap: wrap;
    }
  }

  .products-header{
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: #999999;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include tablet-portrait{
        flex-wrap: wrap;
      }
    }
    h1{
      @include h1;
      @include tablet-portrait{
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
      }

    }
    .btn-filter{
      background-color: inherit;
      color: $color-white;
      padding: 5px 8px;
      margin-right: 5px;
      border: 1px solid $color-white;
      cursor: pointer;
    }
  }
  .search{
    padding: 4px 6px;
  }
  .product{
    width: 48%;
    position: relative;
    margin-bottom: 30px;
    @include tablet-portrait{
      width: 100%;
    }
    @include mobile{
      margin-bottom: 10px;
    }
    img{
      width: 100%;
      filter: brightness(70%);
    }
    .top-product-container{
      position: absolute;
      border-radius: 7px;
      overflow: hidden;
      top: 20px;
      left: 20px;
      width: 250px;
      color: $color-white;
      display: flex;
      flex-wrap: wrap;
      font-size: 0;
      @include tablet-portrait{
        width: 40%;
      }
      @include mobile{
        width: 50%;
      }
      &>*{
        font-size: 18px;
        padding: 5px 10px;
        opacity: .95;
        @include mobile{
          font-size: 14px;
          padding: 3px 5px;
        }
      }
      .country{
        padding: 5px 10px;
        background-color: rgb(32, 92, 124);
        width: 60%;
        @include mobile{
          padding: 3px 5px;
        }
      }
      .price{
        width: 40%;
        background-color: rgb(65, 192, 240);
        i{
          font-size: 14px;
          margin-left: 2px;
          @include mobile{
            font-size: 12px;
          }
        }
      }
      .date {
        width: 100%;
        background-color: $color-green;
      }
    }
    .title{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 20px 10px;
      background-color: rgba(50, 50, 50, .5);
      @include mobile{
        padding: 10px 5px;
      }
      h3{
        color: $color-white;
        font-size: 20px;
        @include mobile{
          font-size: 16px;
        }
      }
    }
  }
}


